<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-xs-12 col-sm-6 col-lg-8">
		<h2><%= header_title %></h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4 text-right-sm">
		<% if defined?(delete_link) %>
		<%= link_to t(".delete"), delete_link, class:"btn btn-danger btn-xl m-t-md", method: :delete, data:{confirm: t(".are_you_sure")}%>
		<% end %>
		<% if defined?(cancel_link) %>
		<a href="<%= cancel_link %>" class="btn btn-default btn-xl m-t-md"><%= t(".cancel") %></a>
		<% end %>
		<% if defined?(button_link) && defined?(button_title) %>
		<a href="<%= button_link %>" class="btn btn-primary btn-xl m-t-md"><%= button_title %></a>
		<% end %>
		<% if defined?(show_save_button) %>
		<a href="javascript:$('form#saveform').submit()" class="btn btn-primary btn-xl m-t-md"><%= t(".save") %></a>
		<% end %>
	</div>
</div>