<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= title %></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <% unless button_path.blank? %>
                    <div class="ibox-tools">
                        <%= link_to button_title, button_path, class:"btn btn-primary btn-xs" %>
                    </div>
                    <% end %>
                </div>
                <div class="ibox-content">
                    <% unless search_placeholder.blank? %>
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="<%= search_placeholder %>" class="input-sm form-control">
                                <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"><%= search_label %></button></span>
                            </div>
                        </div>
                    </div>
                    <% end %>

                    <div class="" style="padding-bottom:5px; border-bottom:1px solid #aaa">
                        <div class="row">
                            <% widths.size.times do |i| %>
                            <div class="<%= widths[i] %> <%= alignment_class(aligns[i])%>">
                                <strong><%= headers[i] %></strong>
                            </div>
                            <% end %>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="project-list">
                        <div class="row">
                            <% items.each do |item| %>
                            <div class="" style="margin-top:5px; padding-bottom:5px;border-bottom:1px solid #ddd">
                                <% widths.size.times do |i| %>
                                <div class="<%= widths[i] %> <%= alignment_class(aligns[i])%>" style="padding-top:5px; min-height:40px">
                                    <%= cell_format(item[:content][i],formats[i]) %>
                                </div>
                                <% end %>
                                <div class="col-md-2 col-xs-12 col-sm-12 text-center">
                                    <% unless view_label.blank? %>
                                        <%= link_to eval("#{path}(#{item[:id]})"), class:"btn btn-white btn-sm" do %><i class="fa fa-eye"></i><% end %>
                                    <% end %>
                                    <% unless edit_label.blank? %>
                                        <%= link_to eval("edit_#{path}(#{item[:id]})"), class:"btn btn-white btn-sm" do %><i class="fa fa-pencil"></i><% end %>
                                    <% end %>
                                    <% unless delete_label.blank? %>
                                    <%= link_to eval("#{path}(#{item[:id]})"), class:"btn btn-white btn-sm", method: :delete, data:{confirm:"Are you sure?"} do %><i class="fa fa-trash"></i><% end %>
                                    <% end %>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


