<%= form_tag url, method:query_method, id:form_id do -%>
	<% if !query_parameters.blank? %>
		<% (query_parameters.keys-["utf8"]-["search"]).each do |k| %>
			<%= hidden_field_tag k.to_sym, query_parameters[k]%>
		<% end %>
	<% end %>

	<div class="input-group">
		<input type="text" placeholder="<%= placeholder %>"" value='<%= value %>' name="search" class="input form-control">
		<span class="input-group-btn">
			<button type="button" class="btn btn btn-primary btn-search"> <i class="fa fa-search"></i> <%= button_title %></button>
		</span>
	</div>
<%- end -%>
