<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<% unless data[:subtitle].blank? %><h5><%= data[:subtitle] %></h5><% end %>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
<!-- 						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#">Config option 1</a>
							</li>
							<li>
								<a href="#">Config option 2</a>
							</li>
						</ul>
 -->						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table id="" class="dtable table table-striped table-bordered table-hover" >
							<thead>
								<tr>
									<% data[:headers].each_with_index do |header, i| %>
									<th <%= "class='#{data[:column_classes][i]}'" unless data[:column_classes].blank?%> <%= "width='#{data[:column_widths][i]}'" unless data[:column_widths].blank?%>><%= header %></th>
									<% end %>
									<% if defined?(show_view_link) || defined?(show_edit_link) %>
										<th></th>
									<% end %>
								</tr>
							</thead>
							<tbody>
								<% data[:rows].each_with_index do |row, i| %>
									<tr>
										<% row[:data].each do |row_data| %>
										<td style="vertical-align:middle"><%= row_data %></td>
										<% end %>
									<% if defined?(show_view_link) || defined?(show_edit_link) %>
										<td width="100">
											<% if defined?(show_view_link) && show_view_link==true %>
												<button data-id="<%= row[:id] %>" class="btn btn-white btn-sm view_data_row"><i class="fa fa-eye"></i></button>
											<% end %>
											<% if defined?(show_edit_link) && show_edit_link==true %>
												<button data-id="<%= row[:id] %>" class="btn btn-white btn-sm edit_data_row"><i class="fa <%= defined?(edit_icon) ? edit_icon : "fa-pencil" %>"></i></button>
											<% end %>
										</td>
									<% end %>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


    <!-- Page-Level Scripts -->
    <script>
// $(document).ready(function() {
			$(".dtable").each(function(i,t) {
				if(! $.fn.DataTable.isDataTable(t)) {
					$(t).DataTable({
                pageLength: 25,
                responsive: true,
								<% if defined?(show_view_link) || defined?(show_edit_link) || defined?(last_column_no_order)%>                
								"columnDefs": [
    							{ "orderable": false, "targets": -1 }
  							],	
  							<% end %>
                language: data_table_<%= I18n.locale %>
            });


	        $(t).find(".view_data_row").click(function(e) {
	        	e.preventDefault();
	        	window.location.href=window.location.href+"/"+$(this).data("id")
	        })
	        $(t).find(".edit_data_row").click(function(e) {
	        	e.preventDefault();
	        	window.location.href=window.location.href+"/"+$(this).data("id")+"/edit";
	        })
				}
			});
// });


    </script>
