    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Welcome to IN+</h3>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: "on", class:"m-t" }) do |f| %>

                <div class="form-group">
					  	<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t(".your_email") %>
                </div>
                <div class="form-group">
					  	<%= f.password_field  :password, class: "form-control", placeholder:  t(".your_password") %>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
			<% end %>
        </div>
    </div>






