/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstrap
@import "bootstrap-3-sprockets";
@import "bootstrap-3";

// Variables, Mixins
@import "bootstrap-3/base/variables";
@import "bootstrap-3/base/mixins";

// INSPINIA Theme Elements
@import "bootstrap-3/base/typography";
@import "bootstrap-3/base/navigation";
@import "bootstrap-3/base/top_navigation";
@import "bootstrap-3/base/buttons";
@import "bootstrap-3/base/badges_labels";
@import "bootstrap-3/base/elements";
@import "bootstrap-3/base/sidebar";
@import "bootstrap-3/base/base";
@import "bootstrap-3/base/pages";
@import "bootstrap-3/base/chat";
@import "bootstrap-3/base/metismenu";
@import "bootstrap-3/base/spinners";

// Landing page
@import "bootstrap-3/base/landing";

// RTL Support
@import "bootstrap-3/base/rtl";

// For demo only - config box style
@import "bootstrap-3/base/theme-config";

// INSPINIA Skins
@import "bootstrap-3/base/skins";
@import "bootstrap-3/base/md-skin";

// Media query style
@import "bootstrap-3/base/media";

// Custom style
// Your custom style to override base style
@import "bootstrap-3/base/custom";

@import "font-awesome-sprockets";
@import "font-awesome";


@media (min-width: 768px) { 
	.text-right-sm {
		text-align: right;
	}
	.text-center-sm {
		text-align: center !important;
	}
}
/* Make Select2 boxes match Bootstrap3 heights: */
.select2-selection__rendered {
  line-height: 32px !important;
}

.select2-selection {
  height: 34px !important;
}

.field_with_errors label {
	color:#f00;
}
.field_with_errors input {
	border-color:#f00;
}
.field_with_errors span.select2-selection {
	border-color:#f00;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width:100%;
}
.fileUpload {
	position:relative;
}
.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align: center;
}
.admin_user {
	border-left:4px solid red;
} 
.logistics_user {
	border-left:4px solid green;
} 
.customer_service_user {
	border-left:4px solid blue;	
}
.sales_user {
	border-left:4px solid orange;	
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.list-pills {
	border-bottom: 1px solid #a7b1c2;	
}
.list-pills > li.active {
  border:0px;
  border-bottom: 4px solid #19aa8d;
  background: #fff;

}
.list-pills > li.active a:hover {
	border: 0px;	
}
.list-pills > li a:hover {
	background: #fff;
  border-bottom: 4px solid #a7b1c2;
  border-radius: 0px;

}
.list-pills > li a {
	padding: 10px 15px;
	border-radius: 0px;
}
.list-pills > li.active > a, .list-pills > li.active > a:hover, .list-pills > li.active > a:focus {
	background: #fff;
	color: #a7b1c2;
}


// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
