
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown text-center profile-element">									
                    <span>
                    	<% if defined?(@small_logo) %>
                    	                <%= image_tag(@small_logo, style:"width:50%;margin:10px 0px")%><br>
											<% else %>
                        <img alt="image" class="img-circle" src="<%= @avatar_url %>" style="width:50px"/>
                      <% end %>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= @user_full_name %></strong>
                            </span> <span class="text-muted text-xs block"><%= @user_position%> <% if defined?(@user_menu) || defined?(@logout_url)%><b class="caret"></b><% end %></span>
                        </span>
                    </a>
                    <% if defined?(@user_menu) || defined?(@logout_url)%>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
											<% if defined?(@user_menu) %>
	                    	<% @user_menu.each do |item| %>
	                    		<% if item[:link]=="divider" %>
														<li class="divider"></li>
													<% else %>	                    		
	                        	<li><a href="<%= item[:link]%>"><%= item[:title] %></a></li>
	                        <% end %>
	                       <% end %>
                      <% end %>
                        <% if defined?(@user_menu) && @user_menu.size>0 && defined?(@logout_url) %><li class="divider"></li><% end %>
                        <% if defined?(@logout_url) %>
	                        <li><a href="<%= @logout_url %>"><%= @logout_title%></a></li>
	                      <% end %>
                    </ul>
                    <% end %>
                </div>
                <div class="logo-element">
                	<% if defined?(@small_logo) %>
                		<%= image_tag(@small_logo, style:"width:50px")%>
                  <% else %>
										<%= @small_initials || "AD" %>
                  <% end %>
                </div>
            </li>


						<% if defined?(@menu) %>
							<% @menu.each do |item|%>
		            <li class="<%= is_active_controller(item) %>">
		                <a href="<%= item[:submenus].blank? ? item[:link] : "" %>">
		                	<% unless item[:icon].blank?%><%= item[:icon].html_safe %><% end%> 
		                	<span class="nav-label"><%= item[:title] %></span> 
		                	<% unless item[:submenus].blank? %><span class="fa arrow"></span><% end %>
		                </a>
		                <% unless item[:submenus].blank? %>
		                    <ul class="nav nav-second-level collapse <%= is_active_controller(item, 'in') %>">
		                        <% item[:submenus].each do |submenu_item| %>
		                        <li class="<%= is_active_action(submenu_item)%>">
		                            <%= link_to submenu_item[:link] do %>
		                            <% unless submenu_item[:icon].blank?%>
		                                <%= submenu_item[:icon].html_safe %>
		                            <% end%>
		                            <span style="display:block !important" class="nav-label"><%= submenu_item[:title] %></span>
		                            <% end %>
		                        </li>
		                        <% end %>
		                    </ul>
		                <% else %>
		                    </a>
		                <% end %>
		            </li>
							<% end %>
						<% end %>


        </ul>

    </div>
</nav>