<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @title || "Admin" %></title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'inspinia_gem', media: 'all'%>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'inspinia_gem'%>
    <%= javascript_include_tag 'inspinia_gem2' %>
    <%= yield :css %>
    <%= yield :javascript %>
    <%= csrf_meta_tags %>


</head>
<body>

<!-- Skin configuration box -->
 <%#= render 'layouts/skinconfig' %> 
<% unless flash[:notice].blank? %>
	<div class="notice-alert" style="display:none"><%= flash[:notice] %></div>
<% end %>

<% unless flash[:error].blank? %>
	<div class="error-alert" style="display:none"><%= flash[:error] %></div>
<% end %>
    <!-- Wrapper-->
    <div id="wrapper" class="">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <!-- Include javascript per-controller - vendor plugins -->

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->

<script type="text/javascript">
$(document).ready(function() {

	//convert flash to toastr notifications

    toastr.options = {
        closeButton: true,
        progressBar: true,
        showMethod: 'slideDown',
        timeOut: 5000
    };

    $(".notice-alert").each(function() {
	    toastr.success($(this).html(), '<%=t(".completed")%>');
    })
    $(".error-alert").each(function() {
	    toastr.error($(this).html(), '<%=t(".error")%>');
    })

});	
</script>
</body>
</html>
