<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @title || "Admin" %></title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'empty', media: 'all' %>
    <%= yield :css %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'inspinia_gem'%>
    <%= javascript_include_tag 'inspinia_gem2' %>
    <%= csrf_meta_tags %>

    <%= yield :google_code %>


</head>
<body id="<%=defined?(@body_id) ? @body_id : "" %>" class="<%=defined?(@body_class) ? @body_class : "gray-bg" %>">

<!-- Main view  -->
<%= yield %>


    <!-- Include javascript per-controller - vendor plugins -->

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>

<script type="text/javascript">
$(document).ready(function() {

	//convert flash to toastr notifications

    toastr.options = {
        closeButton: true,
        progressBar: true,
        showMethod: 'slideDown',
        timeOut: 5000
    };

    $(".notice-alert").each(function() {
	    toastr.success($(this).html(), '<%=t(".completed")%>');
    })
    $(".error-alert").each(function() {
	    toastr.error($(this).html(), '<%=t(".error")%>');
    })

});	
</script>
</body>
</html>
